* {
    margin: 0;
    padding: 0;
}

body {
    color: #7d8b8d;
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.header::before, .container::before, .footer::before, .header::after, .container::after, .footer::after {
    content: "";
    display: table;
    line-height: 0;
}
.header::after, .container::after, .footer::after {
    clear: both;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,li {
    list-style: outside none none;
}
